# ignore all the cache files
*.pyc

# ignore cache folder
*__pycache__/

# ignore emacs backups
#*.*#
*.*~

# ignore stuff from Macs
.DS*

# Ignore simulation temporary files
pids.txt
simulations2.csv
simulations3.csv
simulations4.csv
simulations2.csv.gz
simulations3.csv.gz
simulations4.csv.gz